<div class="form-wrapper">
    <form class="register-form" method="post">
        <div class="names-wrapper">
            <input id="firstName" type="text" name="firstname" placeholder="First Name" value="">
            <input id="lastName" type="text" name="lastname" placeholder="Last Name" value="">
        </div>
        <div class="email-password-wrapper">
            <input type="email" name="email" placeholder="Email" value="">
            <input type="password" name="password" placeholder="password" value="">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="button">Sign up!</button>
        {{> error }}
    </form>
    <p>If you already with us please <a href="/login">log in</a></p>
</div>
