<h2>We don't know you, right?</h2>

<p class="intro-text">We want to celebrate the obscene part of our language, doesn't matter which one you speak. We insist on including "bad" words into all dictionaries as other normal words. We don't want to speak and be ashamed anymore. We want to express ourselves freely.</p>


<h3>Be a rebel, register and sign the petition:</h3>

{{> registerform }}
