<h2>And the signers are:</h2>
    <ul class="signers-list">
        {{#signerslist}}
        <li class="signers-list-item">
            {{firstname}} {{lastname}}
        </li>
        {{/signerslist}}
    </ul>
