{{#person}}
<h2>Thank you for your signature</h2>
<img class="signature-image" src="{{signature}}" alt="signature of a user">
{{/person}}

<div class="link-wrapper">
    <a class="signer-link" href="/signers">See other signers</a>
    <a class="edit-link" href="/edit">Edit your profile</a>
</div>

<div class="link-wrapper">
    <form class="unsign-link" method="post">
        <button type="submit" name="button">Delete signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a class="logout-link" href="/unsign">Log out</a>

</div>
