{{#person}}
<h2>Thank you for your signature</h2>
<img class="signature-image" src="{{signature}}" alt="signature of a user">

<div class="link-wrapper">
    <a class="signer-link" href="/signers">See other signers</a>
    <a class="unsign-link" href="/petition">Delete signature</a>
</div>

<a class="logout-link" href="/unsign">Log out</a>
{{/person}}
