{{#person}}
<h2>Thank {{firstname}} for your signature</h2>
<img class="signature-image" src="{{signature}}" alt="signature of a user">
<div class="link-wrapper">
    <a class="signer-link" href="/signers">See all signers</a>

</div>
{{/person}}
