<h2>Now you logged out</h2>
<p>If you've already registered, proceed to <a class="login-link-reverse" href="/login">log in</a></p>
<p>If you don't have a account, please <a class="register-link" href="/register">register</a></p>
