/* #00ff00 */
* {
    box-sizing: border-box;
}

body {
    /*font-family: "Exo 2", sans-serif;*/
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #000;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    margin: 0;
    padding: 40px;

    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #ffffff, #ece9e6);
    background: -o-linear-gradient(left, #ffffff, #ece9e6);
    background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
    ); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*
    background-image: radial-gradient(midnightblue 9px, transparent 10px),
        repeating-radial-gradient(
            midnightblue 0,
            midnightblue 4px,
            transparent 5px,
            transparent 20px,
            midnightblue 21px,
            midnightblue 25px,
            transparent 26px,
            transparent 50px
        );
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
    */
}

.body-wrapper {
    padding: 40px;
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin-bottom: 40px;
    /*border: 1px solid midnightblue;*/
    font-size: 50px;
    color: #000;
    font-weight: 900;
    text-decoration: line-through;
    text-transform: uppercase;
    text-decoration-color: #00ff00;
    text-decoration-line: underline;

    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    border-bottom: 4px solid #00ff00;
}

.obscene-logo {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
}

.petition-text {
    border-bottom: 6px solid #00ff00;
    margin-bottom: 40px;
}

.intro-text {
    font-size: 18px;
    font-weight: 400;
}

.form-wrapper {
    background-color: #000;
    background: url("img/bg_form.png") repeat;
    color: #fff;
    margin: 0 auto;
    padding: 30px;
}

.login-link {
    text-transform: uppercase;
    color: #00ff00;
    text-decoration: none;
    border-bottom: 3px solid #fff;
}

.login-link-reverse {
    color: #000;
    border-bottom: 3px solid #00ff00;
    text-decoration: none;
    text-transform: uppercase;
}

.register-link {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #000;
}

.names-wrapper,
.email-password-wrapper,
.profileInfo-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.names-wrapper input,
.email-password-wrapper input,
.profileInfo-wrapper input {
    width: 250px;
    height: 50px;
    margin: 0;
    padding-left: 10px;
    background: linear-gradient(to right, #ffffff, #ece9e6);
    border: none;
}

.label-wrapper {
    display: flex;
}

.names-wrapper label {
    font-size: 14px;
    font-weight: 200;
}

#canvas {
    background-color: #fff;
    margin-bottom: 40px;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #ece9e6);
}

.signature-image {
    width: 560px;
    height: 100px;
    background-color: #fff;
    background: linear-gradient(to right, #ffffff, #ece9e6);
    border: 3px solid #00ff00;
    margin-bottom: 40px;
}

button {
    width: 250px;
    height: 50px;
    background-color: #00ff00;
    border: none;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    top: calc(50% - 10px);
    left: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #00ff00 transparent transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

button:hover {
    transform: translateX(10px);
}

button:active {
    background-color: #fff;
}

button:hover::before {
    transform: translateX(-10px);
}

button:active::before {
    border-color: transparent #fff transparent transparent;
}

footer {
    margin-top: 80px;
    text-align: center;
    border-top: 10px solid #00ff00;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
}

/* ------------------ STYLES for THANKS ------------------ */
.link-wrapper {
    display: flex;
    width: 560px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
}

.signer-link {
    width: 250px;
    height: 50px;
    padding-top: 7px;
    background-color: #fff; /* change to a background-image */
    font-weight: 700;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    border: 3px solid #000;
    cursor: pointer;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
}

.edit-link {
    width: 250px;
    height: 50px;
    padding-top: 7px;
    background-color: #fff; /* change to a background-image */
    font-weight: 700;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    border: 3px solid #000;
    cursor: pointer;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
}

.signer-link:hover,
.edit-link:hover {
    background-color: #000;
    color: #fff;
    border: 3px solid #00ff00;
}

.unsign-link {
    width: 250px;
    height: 50px;
    padding-top: 7px;
    color: #000;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
}

/* ------------------ STYLES for SIGNERS ------------------ */

.signers-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.signers-list-item {
    padding: 10px 0;
    border-bottom: 3px solid #00ff00;
}

.signers-link {
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
}

.city-link {
    color: #000;
    text-decoration-style: wavy;
    text-decoration-color: #00ff00;
}
.error {
    color: #ff007f;
}

/* ------------------ STYLES for LOGOUT BUTTON ------------------ */

.logout-wrapper {
    position: absolute;
    content: "";
    top: 40px;
    right: 10px;
    width: 150px;
    height: 50px;
}

.logout-link {
    position: relative;
    display: block;
    width: 150px;
    height: 50px;
    top: 0;
    right: 0;
    color: #000;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
}

.logout-link:hover {
    color: #ff007f;
}

.logout-link::before {
    content: "";
    position: absolute;
    background-image: url("./img/logout.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 25px;
    width: 30px;
    height: 30px;
    top: 4px;
    left: -35px;
}

.logout-link::after {
    content: "LOGOUT";
    position: absolute;
    top: 0;
    left: 0;
}

.logout-link:hover::after {
    content: "NOOOOO";
}
